/********** Base styles **********/
* {
  box-sizing: border-box; }
body {
  font-family: 'Lato', sans-serif; }

p {
  margin: 60px 0 0 0;
  padding: 0 5px 5px 5px;}

.center-text {
  text-align: center; }

.container {
  margin: 0 auto;
  width: 95%; }

.card {
  background-color: #efefef;
  border: 1px solid #ccc;
  position: relative; }

.title-box {
  background-color: #dfdfdf;
  padding: 5px;
  margin: 0;
  width: 200px;
  position: absolute;
    right: 0;
    top: 0; }

.row {
  width: 100%; }

/* Large */
@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
    padding-right: 10px;
    width: 33.333%; }
    .col-lg-4:last-child {
      padding: 0; }
}

/* Medium */
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6, .col-md-12 {
    float: left; }

  .col-md-6 {
    padding-right: 20px;
    width: 50%; }
    .col-md-6:nth-child(2) {
      padding: 0; }

  .col-md-12 {
    margin-top: 20px;
    width: 100%; }
}

/* Small (Stacked) */
@media (max-width: 767px) {
  .col-sm-12 {
    margin: 20px auto;
    position: relative;
    width: 85%; }
}
